@model MvcAppBd3Web.Models.AccountModels

@{
    ViewBag.Title = "Log in";
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}


<div id="login-form" class="container">
    <a href="/"><img src="/assets/img/logo-login.png" class="login-logo"></a>
    <div class="row">
        <div class="col-md-4 col-md-offset-4">
            <div class="panel panel-default">
                <div class="panel-heading"><h2>Đăng nhập</h2></div>
                <div class="panel-body">
                   @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @id = "loginform", @class = "form-horizontal", role = "form" }))
                {
                       
                       <div id="dialog">
                            @Html.ValidationMessage("error_msg", new { @class = "error", @name = "error" })
                            @Html.Raw(ViewBag.ChangePassMess)
                        </div>
                        <div class="form-group">
                            <div class="col-xs-12">
                                <div class="input-group">
                                    <span class="input-group-addon">
                                        <i class="fa fa-user"></i>
                                    </span>
                                    @Html.TextBoxFor(u => u.userModel.UserName, new { @Class = "form-control", @id = "username", placeholder = "Tài khoản", autofocus = "" })
                                    @Html.ValidationMessageFor(u => u.userModel.UserName)
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-xs-12">
                                <div class="input-group">
                                    <span class="input-group-addon">
                                        <i class="fa fa-key"></i>
                                    </span>
                                    @Html.PasswordFor(u => u.userModel.Password, new { @Class = "form-control", @id = "Password", placeholder = "Mật khẩu", autofocus = "" })
                                    @Html.ValidationMessageFor(u => u.userModel.Password)
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-xs-12">                               
                                <a href="/Account/Forgotpassword" class="pull-left">Forgot password?</a>
                                <div class="checkbox-inline icheck pull-right pt0">
                                    <label for="">
                                        @Html.CheckBoxFor(u => u.RememberMe, new { @id = "checkRemember" })
                                        Nhớ mật khẩu
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="panel-footer">
                            <div class="clearfix text-center">
                                <button type="submit" class="btn btn-primary ">Đăng nhập</button>
                            </div>
                        </div>
                   }
                </div>
            </div>
        </div>
    </div>
</div>
